# Compiled source location
target/

# KiCad backup files
hardware/*-save.pro
hardware/*.bak
hardware/*-save.kicad_pcb
hardware/*.kicad_pcb-bak
hardware/*.bck

# KiCad temporary files
hardware/*.000
hardware/*.net

# KiCad production files
hardware/production-files
